*{
    background: #f3f5fc;
    font-family: 'Inter';
    font-weight: 400;
    font-size: 32px;
    line-height: 150%; 
}
.logo{
    padding-top: 10px;
    margin-left: 10px;
    width: 120px;
    height: 48px;
    position: absolute;
}
main{
    display: flex;
    margin-bottom: 50px;
    margin-left: 80px;
}
.texto{
    border: none;
    margin-top: 90px;
    text-transform: lowercase;
    color: #0A3871;
}
#mensaje1{
    color: #0A3871;
    text-align: center;
}
.texto:focus{
    outline: none;
}
.mensaje{
    background: white;
    background-image: url(Muñeco.png);
    background-position: center;
    background-repeat: no-repeat;
    border: none;
    border-radius: 32px;
    color: #0A3871;
    margin-left: 98px;
    margin-top: 20px;
    padding-left: 20px;
    width: 400px;
    height: 600px;
}
#mensaje2{
    color: #343a40;
    font-size: 24px;
    text-align: center;
    font-weight: 700;
}
.mensaje:focus{
    outline: none;
}
.boton{
    display: flex;
    margin-top: 18px;
}
.encriptar{
    background: #0A3871;
    border-radius: 24px;
    border: 1px solid #0A3871;
    color: white;
    cursor: pointer;
    height: 67px;
    width: 328px;
}
.desencriptar{
    background: #D8DFE8;
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    margin-left: 30px;
    height: 67px;
    width: 328px;
}
.copiar{
    border: 1px solid #0A3871;
    border-radius: 24px;
    color: #0A3871;
    cursor: pointer;
    height: 67px;
    margin-left: 140px;
    margin-top: 60px;
    width: 336px;
}
.regla{
    color: #495057;
    font-size: 18px;
}